target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.factorypath

# SO
.DS_Store
Thumbs.db

# Variables de entorno / secretos
.env
application-local.yml
